package pages

import "github.com/hookenz/moneygo/web/deps"

templ Home() {
	<!DOCTYPE html>
	<html lang="en-US">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			@deps.HTMX()
			<title>MoneyGO</title>
		</head>
		<body>authenticated</body>
	</html>
}
